@import './variables.css';

body {
  color: #000;
  font-family: poetize-font, serif;
  word-break: break-word;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

div {
  display: block;
  unicode-bidi: isolate;
}

@font-face {
  font-family: 'poetize-font';
  src: url('../font.woff2') format('woff2');
  font-display: swap;
}
